.header {
    position: relative;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background: #000;
    background-size: cover;
    background-position: top center;
    display: flex;
    min-height: 100vh;
    padding-top: 8rem;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        min-height: 60vh;
    }

    @media screen and (max-width: 460px) {
        min-height: 40vh;
    }

    .header-text {
        position: absolute;
        bottom: 25px;
        width: 800px;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (max-width: 1023px) {
            width: 600px;
        }
        @media screen and (max-width: 800px) {
            width: 400px;
        }
        @media screen and (max-width: 600px) {
            width: 200px;
        }
    }

    .header-image,
    .header-image-preview,
    .overlay-webgl,
    .overlay-noise, /* index 2 */
    .overlay-fade,
    .header-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .header-image {
        object-fit: cover;
        z-index: 1;
        object-position: center;
    }

    .header-image-preview {
        object-fit: cover;
        z-index: 0;
        filter: blur(5px);
        object-position: center;
    }

    .overlay-webgl {
        opacity: 0.5;
        z-index: 1
    }

    .overlay-fade {
        background: linear-gradient(180deg, rgba(0,0,0,0) 50%, rgb(0, 0, 0) 100%, #000 100%);
        z-index: 2;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        z-index: 3;
    }

    h2 {
        font-weight: 300;
        letter-spacing: 0.35rem;
        font-size: 3rem;

        @media screen and (max-width: 600px) {
            margin: 0 1em;
            font-size: 1.5rem;
        }
    }

    div {
        font-size: 1.6rem;
        line-height: 1.4em;

        @media screen and (min-width: 960px) {
            font-size: 1.8rem;
        }
    }

    small {
        display: block;
        margin-top: 4rem;
    }

    .language {
        position: absolute;
        z-index: 4;
        top: 10px;
        left: 10px;
        font-size: 16px;

        a {
            color: #fff;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                color: $primary;
            }
        }

        .active-lang {
            color: $primary;
        }
    }

    .social {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;
        background: rgba(0,0,0,0.6);
        padding: 15px;
        border-bottom-left-radius: 10px;

        @media screen and (max-width: 600px) {
            padding: 5px;
        }

        a {
            color: #fff;
            font-size: 36px;
            margin: 0 10px;
            text-decoration: none;

            span {
                clip: rect(1px, 1px, 1px, 1px);
                position: absolute !important;
                height: 1px;
                width: 1px;
                overflow: hidden;
                word-wrap: normal !important;
            }

            @media screen and (max-width: 600px) {
                font-size: 20px;
            }

            &:hover {
                color: $primary;
            }
        }
    }

    /* ----------- NeonFont ----------- */
    .neon {
        -webkit-animation: neon 1.5s ease-in-out infinite alternate;
        -moz-animation: neon 1.5s ease-in-out infinite alternate;
        animation: neon 1.5s ease-in-out infinite alternate;
        font-family: 'Neoneon', sans-serif;
        color: $primary;
        font-size: 8em;

        @media screen and (max-width: 600px) {
            font-size: 4em;
            -webkit-animation: neon-small 1.5s ease-in-out infinite alternate;
            -moz-animation: neon-small 1.5s ease-in-out infinite alternate;
            animation: neon-small 1.5s ease-in-out infinite alternate;
        }
    }

    @-webkit-keyframes neon {
        from {
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px $primary, 0 0 20px $primary, 0 0 40px $primary, 0 0 60px $primary, 0 0 80px $primary;
        }
        to {
            text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 5px $primary, 0 0 10px $primary, 0 0 20px $primary, 0 0 30px $primary, 0 0 40px $primary;
        }
    }

    @-webkit-keyframes neon-small {
        from {
            text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 5px $primary, 0 0 10px $primary, 0 0 15px $primary, 0 0 20px $primary;
        }
        to {
            text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 2px $primary, 0 0 5px $primary, 0 0 7px $primary, 0 0 10px $primary;
        }
    }

    /* Scroll hint
    .mouse {
        display: block;
        margin: 0 auto;
        width: 23px;
        height: 40px;
        border-radius: 13px;
        border: 2px solid #95a5a6;
        position: absolute;
        top: 90%;
        position: absolute;
        left: 50%;
        margin-left: -14px;
        z-index: 2;

        @media screen and (max-width: 768px) {
            display: none;
        }

        span {
            display: block;
            margin: 6px auto;
            width: 3px;
            height: 7px;
            border-radius: 100%;
            background: #95a5a6;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-name: scroll;
            animation-name: scroll;
        }
    }

    @-webkit-keyframes scroll {
        0% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(12px);
            transform: translateY(12px);
        }
    }

    @keyframes scroll {
        0% {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(12px);
            -ms-transform: translateY(12px);
            transform: translateY(12px);
        }
    } */
}
