.newsletter {
    input {
        border: 0;
        outline: none;
        background: transparent;
        padding: 2rem 12rem;
        font-size: 1.5em;
        border-bottom: 1px solid $secondaryLight;;
        color: #fff;
        margin-bottom: 1.5em;
        text-align: center;
        width: 100%;
        margin-right: 20px;

        &::placeholder {
            color: $secondaryLight;
        }

        @media screen and (max-width: 850px) {
            padding: 2rem 1rem;
        }
    }

    .newsletter-card {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background:rgba(0,0,0,0.2);

        @media screen and (max-width: 850px) {
            flex-direction: column;
        }
    }

    .newsletter-text {
        font-size: 0.9em;
        max-width: 320px;
        margin: 0 auto;
        color: $secondaryLight;
    }

    .newsletter-button {
        display: block;
        margin: 0 0 2rem;
        padding: 18px 75px;
        border: 0;
        outline: none;
        background-color: $secondaryDark;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
    }
}