.bio {
    font-size: 22px;
    text-align: left;
    background: rgba(0,0,0,0.2);
    padding: 40px;

    @media screen and (max-width: 600px) {
        font-size: 18px;
        padding: 20px;
    }

    h1 {
        text-align: center;
    }
}

.contact {
    text-align: left;
    font-size: 16px;
    margin: 75px auto 0;
}